.center.hero-unit
  h1 Welcome to the Band Site

  p Find muscians to complete your band or find a band that fits your style. Its free and always will be

  =link_to "Sign up now!", "#", class: "btn btn-large btn-primary"

  
